<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
    <script type="text/javascript" src="js/common/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/base_tool.js"></script>
    <script type="text/javascript" src="js/login/login.js"></script>
</head>
<body>
    <form action="">
    	<table>
    	<thead><h2></h2>
    	</thead>
    	<tr>
    	<td>user</td>
    	<td><input id="username" value="" type="text" /></td>
    	<td>password</td>
    	<td><input id="password" value="" type="text" /></td>
    	<td></td>
    	<td>
    	<button onclick="go();">  submit</button>
    	</td>
    	
    	</tr>
    	</table>
    
    </form>
</body>
</html>
